* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* animation: fade 1.3s; */
}

/* startscherm */
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.header h1 {
    animation: fade-up 1.5s;
}

.header p,
.nameInput h3,
.nameInput input,
.nameInput button {
    animation: fade 1.5s;
}

.firstMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 65px;
    font-weight: 600;
}

p {
    font-weight: 300;
    font-size: 18px;
    width: 50%;
}

.nameInput {
    padding-top: 80px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
}

input {
    font-family: Open Sans, sans-serif;
    width: 300px;
    height: 60px;
    font-size: 18px;
}

.submit {
    width: 250px;
    height: 80px;
    background: #414bb2;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 22px;
}

.submit:hover {
    background: hsl(235, 47%, 38%);
    cursor: pointer;
}

/* ThemaScherm */
.teamName {
    padding: 20px;
}

.themascherm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

h6 {
    padding: 20px;
    font-weight: 400;
    font-size: 15px;
}

h2 {
    font-size: 45px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.thema__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.thema__1,
.thema__2,
.thema__3 {
    background: #414bb2;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}

.thema__1:hover,
.thema__2:hover,
.thema__3:hover {
    background: hsl(235, 47%, 38%);
    transform: scale(1.05);
    cursor: pointer;
}

/* quizscherm */
.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 30px;
}

.header2 h1 {
    font-size: 60px;
}

.quiz-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f24726;
    color: white;
    font-size: 45px;
    font-weight: bold;
    width: 165px;
    height: 165px;
    border-radius: 100px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-button {
    background: #414bb2;
    color: white;
    flex-wrap: wrap;
    width: 550px;
    height: 80px;
    border: none;
    font-size: 27px;
}

.quiz-button:hover {
    background: hsl(235, 47%, 33%);
    cursor: pointer;
}

.quiz-pictures {
    display: flex;
    justify-content: center;
    height: 370px;
    object-fit: cover;
}

.answers {
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.answersInput {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* eindscherm */

.eindScherm {
    overflow-y: auto;
}

.header3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 30px;

}

.repeatButton {
    background: #414bb2;
    color: white;
    width: 500px;
    height: 80px;
    border: none;
    font-size: 27px;
    transition: all 0.2s;
}

.repeatButton:hover {
    cursor: pointer;
    background: hsl(235, 47%, 33%);
    transform: scale(1.05);
}

.scoreBoardSection {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreBoard {
    font-size: 30px;
}

.scoreBoard2 {
    font-size: 40px;
    font-weight: 200;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.highScores {
    font-size: 25px;
}

.userAnswers {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
}

.question-section {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 750px;
    transition: all 0.2s;
}

.question-section:hover {
    transform: scale(1.05);
}

.question-section h3 {
    margin: 0 0 10px 0;
}

.question-section p {
    margin: 5px 0;
}

.answer {
    color: green;
}

.wrong-answer {
    color: red;
}

.show-answer {
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

@keyframes fade {

    0%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-up {

    0%,
    25% {
        opacity: 0;
        transform: translatey(180px) scale(1.6);
    }

    25% {
        opacity: 1;

    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

@media screen and (max-width:1500px) {

    /* Startscherm */
    /* Themascherm */
    .header h2 {

        font-size: 50px;
    }

    .nameInput {
        padding-top: 50px;

    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        padding-top: 75px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 350px;
        height: 350px;
    }

    /* Quizscherm */
    .header2 h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:1270px) {

    /* Startscherm */
    /* Themascherm */
    .header h2 {
        font-size: 35px;
    }

    .nameInput {
        padding-top: 50px;

    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 300px;
        height: 300px;
    }

    /* Quizscherm */
    .header2 {
        padding-top: 50px;
    }

    .header2 h1 {
        font-size: 45px;
    }

    .answers {
        gap: 30px;
    }

    .quiz-button {
        width: 450px;
        font-size: 22px;
    }

    .timer {
        width: 140px;
        height: 140px;
        font-size: 35px;
    }
}

@media screen and (min-width:1000px) and (max-width: 1100px) {

    /* Startscherm */
    /* Themascherm */
    .header h2 {

        font-size: 35px;
        padding-top: 50px;
    }

    .nameInput {
        padding-top: 50px;

    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 275px;
        height: 275px;
    }

    /* Quizscherm */
    .header2 {
        padding-top: 50px;
    }

    .header2 h1 {
        font-size: 40px;
    }

    .answers {
        gap: 30px;
    }

    .quiz-button {
        width: 450px;
        font-size: 22px;
    }

    .timer {
        width: 140px;
        height: 140px;
        font-size: 35px;
    }
}


@media screen and (min-width:900px) and (max-width: 1000px) {
    /* Startscherm */
    .header p {
        width: 100%;
    }

    /* Themascherm */
    .header h2 {
        font-size: 38px;
    }
    h3{
        font-size: 16px;
    }

    p {
        max-width: 55ch;
    }

    .nameInput {
        padding-top: 50px;

    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 225px;
        height: 225px;
    }

    /* Quizscherm */
    .header2 {
        padding-top: 50px;
    }

    .answers {
        gap: 20px;
    }

    .header2 h1 {
        font-size: 40px;
    }

    .quiz-pictures {
        width: 400px;
        height: 270px;
    }

    .quiz-button {
        width: 350px;
    }

    .timer {
        width: 120px;
        height: 120px;
        font-size: 30px;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width:700px) and (max-width: 900px) {

    /* startscherm */
    /* themascherm */
    .header h2 {
        font-size: 32px;
    }


    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 230px;
        height: 230px;
    }

    /* quizscherm */
    .quiz-pictures {
        width: 440px;
        height: 270px;
    }

    .timer {
        width: 110px;
        height: 110px;
    }
}

@media screen and (min-width:900px) and (max-width: 1000px) {

    /* startscherm */
    /* themascherm */
    .header h2 {
        font-size: 32px;
        padding-top: 50px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 200px;
        height: 200px;
    }

    /* quizscherm */

    /* eindscherm */
    .header3 h2 {
        font-size: 37px;        
    }

    .scoreBoard {
        font-size: 27px;
    }

    .highScores {
        font-size: 22px;
    }

    .repeatButton {
        width: 500px;
        height: 80px;
    }

    .scoreBoard2 {
        font-size: 38px;
    }

    .question-section {
        width: 90%;
    }

}

@media screen and (min-width:850px) and (max-width:950px) {

    /* themascherm */
    .header h2 {
        padding-top: 75px;
    }

    .thema__buttons {}
}

@media screen and (min-width:770px) and (max-width:900px) {
    /* eindscherm */
    .header3 h2 {
        font-size: 35px;        
    }

    .scoreBoard {
        font-size: 25px;
    }

    .highScores {
        font-size: 20px;
    }

    .repeatButton {
        width: 450px;
        height: 80px;
    }

    .scoreBoard2 {
        font-size: 35px;
    }

    .question-section {
        width: 90%;
    }
}


@media screen and (min-width:700px) and (max-width:770px) {

    /* eindscherm */
    .header3 h2 {
        font-size: 35px;
    }

    .scoreBoard2 {
        font-size: 30px;
    }

    .scoreBoard {
        font-size: 25px;
    }

    .highScores {
        font-size: 20px;
    }

    .question-section {
        width: 90%;
    }
}


@media screen and (min-width:600px) and (max-width:700px) {
    /* startscherm */

    /* themascherm */

    .teamName {
        font-size: 17px;
    }

    .header h2 {
        font-size: 30px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 17px;
        width: 220px;
        height: 220px;
    }

    /* quizscherm */
    .team_name {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        font-size: 20px;
    }

    .quiz-pictures {
        width: 440px;
        height: 270px;
    }

    .timer {
        position: absolute;
        top: 1%;
        right: 2%;
        width: 90px;
        height: 90px;
        font-size: 30px;
    }

    .header2 h1 {
        font-size: 25px;
        padding-top: 50px;
    }

    .quiz-button {
        width: 400px;
    }

    .quiz-section {
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width:600px) {

    /* startscherm */
    /* themascherm */
    .teamName {
        font-size: 17px;
    }

    .header h2 {
        font-size: 30px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 17px;
        width: 220px;
        height: 220px;
    }

    /* quizscherm */
    .team_name {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        font-size: 20px;
    }

    .quiz-pictures {
        width: 440px;
        height: 270px;
    }

    .timer {
        position: absolute;
        top: 1%;
        right: 2%;
        width: 90px;
        height: 90px;
        font-size: 30px;
    }

    .header2 h1 {
        font-size: 25px;
        padding-top: 50px;
    }

    .quiz-button {
        width: 400px;
    }

    .quiz-section {
        width: 100%;
    }

    /* eindscherm */
    .header3 h2 {
        font-size: 30px;
    }

    .scoreBoardSection{
        padding-top: 50px;
    }

    .scoreBoardSection h4 {
        font-size: 25px;
    }

    .repeatButton {
        width: 400px;
        font-size: 23px;
    }

    .scoreBoard2 {
        font-size: 27px;
    }

    .question-section {
        width: 90%;
    }

    .question-section h3,
    .show-answer {
        font-size: 17px;
    }

    .question-section p {
        font-size: 16px;
    }


}

@media screen and (min-width: 100px) and (max-width: 500px) {

    /* startscherm */
    .teamName {
        font-size: 17px;
    }
    .header h1 {
        font-size: 60px;
    }

    .nameInput h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25px;
    }
    /* themascherm */
    .themascherm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header h2 {
        font-size: 32px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 15px;
        width: 200px;
        height: 200px;
    }

    /* quizscherm */
    .team_name {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .quiz-pictures {
        width: 300px;
        height: 220px;
    }

    .timer {
        position: absolute;
        top: 1%;
        right: 2%;
        width: 65px;
        height: 65px;
        font-size: 23px;
    }

    .header2 h1 {
        font-size: 20px;
        padding-top: 40px;
    }
    .header h2 {
        font-size: 18px;
    }
    h3{
        font-size: 13px;
    }

    .nameInput {
        padding-top: 40px;
    }

    .teamName{
        font-size: 13px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 15px;
        width: 200px;
        height: 200px;
    }

    .quiz-button {
        width: 400px;
    }

    /* eindscherm */
    .header3 h2 {
        font-size: 27px;
    }

    .scoreBoardSection h4 {
        font-size: 24px;
    }

    .repeatButton {
        width: 350px;
        font-size: 20px;
    }

    .scoreBoard2 {
        font-size: 23px;
    }

    .question-section {
        width: 90%;
    }

    .question-section h3,
    .show-answer {
        font-size: 15px;
    }
}

@media screen and (min-width: 430px) and (max-width: 550px) {

    /* startscherm */
    /* themascherm */
    .teamName {
        font-size: 15px;
    }
    .header h2 {
        font-size: 25px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .header3 h2 {
        font-size: 30px;
    }

    .scoreBoardSection{
        padding-top: 50px;
    }

    .scoreBoardSection h4 {
        font-size: 25px;
    }

    .repeatButton {
        width: 400px;
        font-size: 23px;
    }

    .scoreBoard2 {
        font-size: 27px;
    }

    .question-section {
        width: 90%;
    }

    .question-section h3,
    .show-answer {
        font-size: 17px;
    }

    .question-section p {
        font-size: 15px;
    }
}
@media screen and (min-width: 400px) and (max-width: 432px) {

    /* startscherm */
    /* themascherm */
    .teamName {
        font-size: 15px;
    }
    .header h2 {
        font-size: 25px;
    }

    .nameInput {
        padding-top: 40px;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 15px;
        width: 200px;
        height: 200px;
    }

    /* quizscherm */

    /* eindscherm */
    .header3 h2 {
        font-size: 25px;
    }

    .scoreBoardSection h4 {
        font-size: 22px;
    }

    .highScores {
        font-size: 19px;
    }

    .repeatButton {
        width: 300px;
        font-size: 18px;
    }

    .scoreBoard2 {
        font-size: 23px;
    }

    .question-section {
        width: 90%;
    }

    .question-section h3,
    .show-answer {
        font-size: 14px;
    }

    .question-section p {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {

    /* startscherm */
    .teamName {
        font-size: 15px;
    }
    .header h1 {
        font-size: 50px;
    }

    .nameInput h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }

    /* themascherm */
    .themascherm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 85vh;
    }

    .header h2 {
        font-size: 25px;
    }

    .nameInput {
        padding-top: 0;
    }

    .thema__buttons {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .thema__1,
    .thema__2,
    .thema__3 {
        font-size: 18px;
        width: 250px;
        height: 150px;
        border-radius: 40px;
    }

    /* quizscherm */
    .body2 {
        padding-top: 20px;
    }

    .team_name {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-top: 22px;
    }

    .timer {
        position: absolute;
        top: 0.5%;
        right: 2%;
        width: 65px;
        height: 65px;
        font-size: 21px;
    }

    .header2 h1 {
        font-size: 21px;

    }

    .quiz-pictures {
        max-width: 100%;
        object-fit: cover;
    }

    .quiz-button {
        width: 300px;
        height: 80px;
        font-size: 18px;
    }

    .answersInput {
        padding-top: 20px;
    }

    /* eindscherm */
    .header3 h2 {
        font-size: 22px;
    }

    .scoreBoardSection h4 {
        font-size: 18px;
    }

    .highScores {
        font-size: 19px;
    }

    .repeatButton {
        width: 200px;
        font-size: 15px;
    }

    .scoreBoard2 {
        font-size: 20px;
    }

    .question-section {
        width: 90%;
    }

    .question-section h3,
    .show-answer {
        font-size: 13px;
    }

    .question-section p {
        font-size: 12px;
    }
}

@media screen and (max-width:345px) {

    /* Startscherm */
    .teamName {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }

    .nameInput h3 {
        font-size: 17px;
    }

    .nameInput .input {
        width: 90%;
    }

    .submit {
        width: 220px;
        height: 70px;
        font-size: 17px;
    }

    /* Themascherm */
    .header h2 {
        font-size: 20px;
    }

}