* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1.2s;
}

/* startscherm */
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.firstMain {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

p {
    font-weight: 300;
    font-size: 18px;
    width: 50%;
}

.nameInput {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h3 {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
}

input {
    font-family: Open Sans, sans-serif;
    width: 300px;
    height: 60px;
    font-size: 18px;
}

.submit {
    width: 250px;
    height: 80px;
    background: #414bb2;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 22px;
}

.submit:hover {
    background: hsl(235, 47%, 38%);
    cursor: pointer;
}

/* ThemaScherm */
.teamName {
    padding: 20px;
}

.themascherm {
    padding: 25px;
    gap: 50px;
}

h6 {
    padding: 20px;
    font-weight: 400;
    font-size: 15px;
}

h2 {
    font-size: 50px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.thema__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.thema__1,
.thema__2,
.thema__3 {
    background: #414bb2;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}

.thema__1:hover,
.thema__2:hover,
.thema__3:hover {
    background: hsl(235, 47%, 38%);
    cursor: pointer;
}

/* quizscherm */
.header2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-top: 30px;
}

.quiz-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding-top: 25px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f24726;
    color: white;
    font-size: 45px;
    font-weight: bold;
    width: 185px;
    height: 185px;
    border-radius: 100px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);     
}

.quiz-button {
    background: #414bb2;
    color: white;
    flex-wrap: wrap;
    width: 550px;
    height: 80px;
    border: none;
    font-size: 27px;
}

.quiz-button:hover {
    background: hsl(235, 47%, 33%);
    cursor: pointer;
}

.quiz-pictures {
    display: flex;
    justify-content: center;
    height: 370px;
    object-fit: cover; 
}

.answers {
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.answersInput {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width:1200px) {

    /* Startscherm */
    /* Themascherm */
    /* Quizscherm */
    .header2 {
        padding-top: 50px;
    }

    .answers {
        gap: 30px;
    }

    .quiz-button {
        width: 450px;
        font-size: 22px;
    }
}


@media screen and (max-width:1000px) {
    body {
        overflow-y: scroll;
        height: 100vh;
    }

    /* Startscherm */
    .header p {
        width: 100%;
    }

    /* Themascherm */

    /* Quizscherm */
    .header2 {
        padding-top: 50px;
    }

    .answers {
        gap: 20px;
    }

    .header2 h1 {
        font-size: 40px;
    }

    .quiz-pictures {
        width: 400px;
        height: 270px;
    }

    .quiz-button {
        width: 350px;
    }

    .timer {
        width: 120px;
        height: 120px;
        font-size: 30px;
        top: 0;
        right: 0;
    }
}